<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the page showing successful transfer</h1>
    <h3
      style="font-family: 'Courier New', Courier, monospace; font-size: medium"
    >
      Your transfer of $<span data-th-text="${transfer.amount}"></span><br />
      from
      <span
        data-th-text="${transfer.from.name}+ ' ('+${transfer.from.account_id}+')'"
      ></span
      ><br />
      to
      <span
        data-th-text="${transfer.to.name}+ ' ('+${transfer.to.account_id}+')'"
      ></span
      ><br />
      is successful <br /><br />

      Transaction id is
      <span
        data-th-text="${#strings.substring(transactionId,0,4)} +'-'+
                                            ${#strings.substring(transactionId,4,8)}"
      >
      </span>
    </h3>
  </body>
</html>
